*.log
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
logs/
target/
build/
.gradle/
*.iml
.classpath
.project
.settings
.idea/
classes/
dependencyMapping.properties
transitiveProjectDeps*
*.ipr
*.iws
*.jks
out/
logback.xml
password
.DS_Store